<h1>Login</h1>

<%= form_for :session, url: sessions_path do |f| %>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <%= f.submit "Login" %>
<% end %>
