<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<header>
  <nav class="navbar">
    <%= link_to 'Restaurants', restaurants_path %> |
    <% if current_user %>
      <%= link_to 'Profile', user_path %> |
      <%= link_to 'Logout', session_path("current"), :method => :delete %>
    <% else %>
      <%= link_to 'Login', new_session_path %> | 
      <%= link_to 'Register', new_user_path %>
    <% end %>

  </nav>
</header>
<body>
<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>
<%= yield %>

</body>
</html>
